<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %level %logger{36} - %msg%n"/>
        </Console>
        <File name="File" fileName="C:\Users\Amar\eclipse-workspace\new 2024 ide\Opencart\logs">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %level %logger{36} - %msg%n"/>
            <Policies>
                <Policies>
                    <SizeBasedTriggeringPolicy size="10MB"/>
                </Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
        <Logger name="com.yourpackage" level="debug" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
    </Loggers>
</Configuration>
